{% load static %}
<!DOCTYPE html>
<html lang="en-US" class="scheme_original">

<head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1">
    <meta name="format-detection" content="telephone=no">
    <link rel="icon" type="image/x-icon" href="{% static 'favicon.ico' %}" />
    <title>Main page</title>
    <link rel='stylesheet' href='https://fonts.googleapis.com/css?family=Playfair+Display:400,400italic,700,700italic,900,900italic%7CLato:400,300,300italic,400italic,700,700italic,900,900italic%7COpen+Sans%3A300%2C400%2C600%2C700%2C800%7CRaleway%3A100%2C200%2C300%2C400%2C500%2C600%2C700%2C800%2C900%7CDroid+Serif%3A400%2C700&#038;subset=latin,latin-ext' type='text/css' media='all' />
    <link rel='stylesheet' href="{% static 'css/custom/_settings.css' %}" type='text/css' media='all' />
    <link rel='stylesheet' href="{% static 'css/fontello/css/fontello.css' %}" type='text/css' media='all' />
    <link rel='stylesheet' href="{% static 'css/style.css' %}" type='text/css' media='all' />
    <link rel='stylesheet' href="{% static 'css/custom/_animation.css' %}" type='text/css' media='all' />
    <link rel='stylesheet' href="{% static 'css/custom/shortcodes.css' %}" type='text/css' media='all' />
    <link rel='stylesheet' href="{% static 'css/custom/skin.css' %}" type='text/css' media='all' />
    <link rel='stylesheet' href="{% static 'css/custom/responsive.css' %}" type='text/css' media='all' />
    <link rel='stylesheet' href="{% static 'css/custom/skin.responsive.css' %}" type='text/css' media='all' />
    <link rel='stylesheet' href="{% static 'js/vendor/swiper/swiper.min.js' %}" type='text/javascript' media='all' />
</head>

<body class="home page body_style_boxed body_filled top_panel_show top_panel_above sidebar_hide sidebar_outer_hide">
<div class="body_wrap">
    <div class="page_wrap">
        <div class="top_panel_fixed_wrap"></div>
        <header class="top_panel_wrap top_panel_style_3 scheme_original">
            <div class="top_panel_wrap_inner top_panel_inner_style_3 top_panel_position_above">
                <div class="top_panel_top">
                    <div class="content_wrap clearfix">
                        <div class="top_panel_top_user_area top_panel_top_user_area_right hire_no">
                            <ul id="menu_user" class="menu_user_nav">
                                <!--<li class="menu-item"><a href="about-us.html">About Us</a></li>
                                <li class="menu-item"><a href="career-center.html">Career Center</a></li>
                                <li class="menu-item"><a href="resource-center.html">Security Resource Center</a></li>-->
                            </ul>
                        </div>
                    </div>
                </div>
                <div class="top_panel_middle">
                    <div class="content_wrap">
                        <div class="columns_wrap columns_fluid">
                            <div class="column-1_3 contact_logo">
                                <div class="logo">
                                    <!--<a href="index.html"><img src="{% static 'KakaoTalk_20190203_151007834.jpg' %}" class="logo_main" alt=""><img src="{% static 'logo1.png' %}" class="logo_fixed" alt="">-->
                                        
                                        <div class="logo_text" >멍스쉘터</div>
                                        <br>
                                        <div class="logo_slogan">Mong's Shelter</div>
                                    </a>
                                </div>
                            </div>
                            <div class="column-2_3 menu_main_wrap">
                                <a href="#" class="menu_main_responsive_button icon-menu"></a>
                                <nav class="menu_main_nav_area">
                                    <ul id="menu_main" class="menu_main_nav">
                                        
                                        <li class="menu-item current-menu-ancestor current-menu-parent menu-item-has-children"><a href="#">About</a>
                                            <ul class="sub-menu">
                                                <li class="menu-item current-menu-item"><a href="{% url 'about_us' %}">About us</a></li>
                                                <li class="menu-item"><a href="{% url 'team_member' %}">Team member</a></li>
                                                <li class="menu-item"><a href="{% url 'service' %}">Service</a></li>
                                            </ul>
                                        </li>

                                        <li class="menu-item current-menu-ancestor current-menu-parent menu-item-has-children"><a href="#">입양하기</a>
                                            <ul class="sub-menu">
                                                <li class="menu-item current-menu-item"><a href="index.html">Home 1</a></li>
                                                <li class="menu-item"><a href="home-2.html">Home 2</a></li>
                                                <li class="menu-item"><a href="home-3.html">Home 3</a></li>
                                            </ul>
                                        </li>

                                        <li class="menu-item current-menu-ancestor current-menu-parent menu-item-has-children"><a href="#">멍스스쿨</a>
                                            <ul class="sub-menu">
                                                <li class="menu-item current-menu-item"><a href="{% url 'school_parent' %}">보호자 훈련소</a></li>
                                                <li class="menu-item"><a href="{% url 'school_dog' %}">댕댕이 훈련소</a></li>
                                            </ul>
                                        </li>

                                        <li class="menu-item current-menu-ancestor current-menu-parent menu-item-has-children"><a href="#">커뮤니티</a>
                                            <ul class="sub-menu">
                                                <li class="menu-item current-menu-item"><a href="{% url 'post' %}">입양후기</a></li>
                                                <li class="menu-item current-menu-item"><a href="index.html">멍스쉐어</a></li>
                                                <li class="menu-item"><a href="home-2.html">Q&A</a></li>
                                            </ul>
                                        </li>
                                        
                                        <li class="menu-item"><a href="shop.html">Magazine</a></li>

                                        <li class="menu-item current-menu-ancestor current-menu-parent menu-item-has-children"><a href="#">Account</a>
                                            <ul class="sub-menu">
                                                <li class="menu-item current-menu-item"><a href="{% url 'signup' %}">회원가입</a></li>
                                                <li class="menu-item"><a href="{% url 'login' %}">로그인</a></li>
                                                <li class="menu-item"><a href="{% url 'logout' %}">로그아웃</a></li>
                                            </ul>
                                        </li>
                                        
                                    </ul>
                                </nav>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </header>
        <style>
            .slider_wrap1 {
                background-image: url('/static/images/index_dog1.jpg');
                background-repeat: no-repeat;
                background-position: center;
            }

            .slider_wrap2 {
                background-image: url('/static/images/index_dog2.jpg');
                background-repeat: no-repeat;
                background-position: center;
            }

            .slider_wrap3 {
                background-image: url('/static/images/index_dog3.jpg');
                background-repeat: no-repeat;
                background-position: center;
            }
        
            .new_text {
                color: black;
    font-family: "Lato", sans-serif
            }
        </style>
        <section class="slider_wrap slider_fullwide slider_engine_revo slider_alias_proguards_slider1">
            <div id="rev_slider_1_1_wrapper" class="rev_slider_wrapper fullwidthbanner-container">
                <div id="rev_slider_1_1" class="rev_slider fullwidthabanner tp-overflow-hidden" data-version="5.2.5.4">
                    <ul>
                        <li data-index="rs-10" data-transition="random" data-slotamount="7" data-hideafterloop="0" data-hideslideonmobile="off" data-easein="default" data-easeout="default" data-masterspeed="300" data-thumb="images/100x50.png" data-rotate="0" data-saveperformance="off" data-title="Slide" data-param1="" data-param2="" data-param3="" data-param4="" data-param5="" data-param6="" data-param7="" data-param8="" data-param9="" data-param10="" data-description="">
                            <img src='/static/images/index_dog1.jpg' width="1327" height="644" data-bgposition="center top" data-bgfit="cover" data-bgrepeat="no-repeat" class="rev-slidebg" data-no-retina>-->
                            <div class="tp-caption largeboldwhitemiddle tp-resizeme  line_left" id="slide-10-layer-1" data-x="230" data-y="177" data-width="auto" data-height="auto" data-transform_idle="" data-transform_in="opacity:0;s:300;e:Power3.easeInOut;" data-transform_out="auto:auto;s:300;" data-start="500" data-splitin="none" data-splitout="none" data-responsive_offset="on">입양장려 문구 1
                                <br> Security </div>
                            <div class="tp-caption mediumlightwhite1 tp-resizeme" id="slide-10-layer-2" data-x="230" data-y="322" data-width="auto" data-height="auto" data-transform_idle="" data-transform_in="opacity:0;s:300;e:Power3.easeInOut;" data-transform_out="auto:auto;s:300;" data-start="500" data-splitin="none" data-splitout="none" data-responsive_offset="on">Local Response Backed by
                                <br> National Support. </div>
                            <div class="tp-caption black tp-resizeme" id="slide-10-layer-3" data-x="230" data-y="435" data-width="auto" data-height="auto" data-transform_idle="" data-transform_in="opacity:0;s:300;e:Power3.easeInOut;" data-transform_out="auto:auto;s:300;" data-start="500" data-splitin="none" data-splitout="none" data-responsive_offset="on">
                                <a href="#" class="sc_button slider_button">learn more</a>
                        
                        </div>
                        </li>
                    
                        <li data-index="rs-11" data-transition="random" data-slotamount="7" data-hideafterloop="0" data-hideslideonmobile="off" data-easein="default" data-easeout="default" data-masterspeed="300" data-thumb="images/100x50.png" data-rotate="0" data-saveperformance="off" data-title="Slide" data-param1="" data-param2="" data-param3="" data-param4="" data-param5="" data-param6="" data-param7="" data-param8="" data-param9="" data-param10="" data-description="">
                            <img src='/static/images/index_dog2.jpg' alt="" title="slider2" width="1327" height="644" data-bgposition="center top" data-bgfit="cover" data-bgrepeat="no-repeat" class="rev-slidebg" data-no-retina>
                            <div class="tp-caption largeboldwhitemiddle tp-resizeme  line_left" id="slide-11-layer-1" data-x="230" data-y="177" data-width="auto" data-height="auto" data-transform_idle="" data-transform_in="opacity:0;s:300;e:Power3.easeInOut;" data-transform_out="auto:auto;s:300;" data-start="500" data-splitin="none" data-splitout="none" data-responsive_offset="on">입양장려 문구 2
                                <br> Security Services </div>
                            <div class="tp-caption mediumlightwhite1 tp-resizeme" id="slide-11-layer-2" data-x="230" data-y="322" data-width="auto" data-height="auto" data-transform_idle="" data-transform_in="opacity:0;s:300;e:Power3.easeInOut;" data-transform_out="auto:auto;s:300;" data-start="500" data-splitin="none" data-splitout="none" data-responsive_offset="on">Local Response Backed by
                                <br> National Support. </div>
                            <div class="tp-caption black tp-resizeme" id="slide-11-layer-3" data-x="230" data-y="435" data-width="auto" data-height="auto" data-transform_idle="" data-transform_in="opacity:0;s:300;e:Power3.easeInOut;" data-transform_out="auto:auto;s:300;" data-start="500" data-splitin="none" data-splitout="none" data-responsive_offset="on">
                                <a href="#" class="sc_button slider_button">learn more</a>
                            </div>
                        </li>
                        <li data-index="rs-12" data-transition="random" data-slotamount="7" data-hideafterloop="0" data-hideslideonmobile="off" data-easein="default" data-easeout="default" data-masterspeed="300" data-thumb="images/100x50.png" data-rotate="0" data-saveperformance="off" data-title="Slide" data-param1="" data-param2="" data-param3="" data-param4="" data-param5="" data-param6="" data-param7="" data-param8="" data-param9="" data-param10="" data-description="">
                            <img src='/static/images/index_dog3.jpg' alt="" title="slider4" width="1328" height="644" data-bgposition="center top" data-bgfit="cover" data-bgrepeat="no-repeat" class="rev-slidebg" data-no-retina>
                            <div class="tp-caption largeboldwhitemiddle tp-resizeme  line_left" id="slide-12-layer-1" data-x="230" data-y="177" data-width="auto" data-height="auto" data-transform_idle="" data-transform_in="opacity:0;s:300;e:Power3.easeInOut;" data-transform_out="auto:auto;s:300;" data-start="500" data-splitin="none" data-splitout="none" data-responsive_offset="on">강아지 행동교정 문구
                                <br> Security Services </div>
                            <div class="tp-caption mediumlightwhite1 tp-resizeme" id="slide-12-layer-2" data-x="230" data-y="322" data-width="auto" data-height="auto" data-transform_idle="" data-transform_in="opacity:0;s:300;e:Power3.easeInOut;" data-transform_out="auto:auto;s:300;" data-start="500" data-splitin="none" data-splitout="none" data-responsive_offset="on">Local Response Backed by
                                <br> National Support. </div>
                            <div class="tp-caption black tp-resizeme" id="slide-12-layer-3" data-x="230" data-y="435" data-width="auto" data-height="auto" data-transform_idle="" data-transform_in="opacity:0;s:300;e:Power3.easeInOut;" data-transform_out="auto:auto;s:300;" data-start="500" data-splitin="none" data-splitout="none" data-responsive_offset="on">
                                <a href="#" class="sc_button slider_button">learn more</a>
                            </div>
                        </li>
                    
                    </ul>
                    <div class="tp-bannertimer"></div>
                </div>
            </div>
        </section>

        <div class="page_content_wrap page_paddings_no">
            
                <div class="sc_gap">
                        <div class="double_b sc_block_1">
                            <div class="sc_content content_wrap" data-animation="animated fadeIn normal">
                                <div class="sc_services_wrap">
                                    <div class="sc_services sc_services_style_services-2 show_icons_no num_serv" data-interval="6827" data-slides-per-view="3">
                                        <div class="sc_columns columns_wrap">
                                            <div class="column-1_3 column_padding_bottom">
                                                <div class="sc_services_item">
                                                    <a href="single-service.html"><span class="sc_icon"></span></a>
                                                    <div class="sc_services_item_content">
                                                        <h4 class="sc_services_item_title"><a href="single-service.html">Guard Security Services</a></h4>
                                                        <div class="sc_services_item_description">
                                                            <p>Whether you need Armed or Unarmed Security Officers for a small business or major corporation, we can meet all your security needs.</p>
                                                            <a href="single-service.html" class="sc_services_item_readmore">Read more</a>
                                                        </div>
                                                    </div>
                                                </div>
                                            </div>
                                            <div class="column-1_3 column_padding_bottom">
                                                <div class="sc_services_item">
                                                    <a href="single-service.html"><span class="sc_icon"></span></a>
                                                    <div class="sc_services_item_content">
                                                        <h4 class="sc_services_item_title"><a href="single-service.html">Our Security Officers</a></h4>
                                                        <div class="sc_services_item_description">
                                                            <p>Our Security Officers are trained and licensed and meet all state requirements set by the California Bureau of Security &#038; Investigative...</p>
                                                            <a href="single-service.html" class="sc_services_item_readmore">Read more</a>
                                                        </div>
                                                    </div>
                                                </div>
                                            </div>
                                            <div class="column-1_3 column_padding_bottom">
                                                <div class="sc_services_item">
                                                    <a href="single-service.html"><span class="sc_icon"></span></a>
                                                    <div class="sc_services_item_content">
                                                        <h4 class="sc_services_item_title"><a href="single-service.html">Mamagement Team</a></h4>
                                                        <div class="sc_services_item_description">
                                                            <p>Our management team works directly with each client to provide a custom-tailored security program to meet all requirements.</p>
                                                            <a href="single-service.html" class="sc_services_item_readmore">Read more</a>
                                                        </div>
                                                    </div>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
            <div class="content_wrap">
                <div class="content">
                    <article class="page">
                        <section class="post_content">
                            <div class="sc_content content_wrap" data-animation="animated fadeInUp normal">
                                <div class="columns_wrap sc_columns columns_count_5">
                                    <div class="column-2_5 sc_column_item">
                                        <div class="sc_section slider_form">
                                            <div class="sc_section_inner">
                                                <div class="sc_section_overlay">
                                                    <div class="sc_section_content">
                                                        <h4 class="sc_title sc_title_regular">Complimentary on-site Security Evaluation</h4>
                                                        <div class="sc_form_wrap">
                                                            <div class="sc_form sc_form_style_form_custom">
                                                                <form id="sc_form_1" data-formtype="form_custom" method="post" action="include/sendmail.php">
                                                                    <div class="sc_form_item sc_form_item_text sc_form_field label_left">
                                                                        <label>Name*</label>
                                                                        <input type="text" name="username" value="">
                                                                    </div>
                                                                    <div class="sc_form_item sc_form_item_text sc_form_field label_left">
                                                                        <label>Phone*</label>
                                                                        <input type="text" name="phone" value="">
                                                                    </div>
                                                                    <div class="sc_form_item sc_form_item_select sc_form_field label_left">
                                                                        <label>How we can help*</label>
                                                                        <div class="sc_form_select_container">
                                                                            <select name="help">
                                                                                <option value="big">Building Security</option>
                                                                                <option value="middle">Patrol Services</option>
                                                                                <option value="small">CCTV Surveillance</option>
                                                                                <option value="other">Security Consulting</option>
                                                                            </select>
                                                                        </div>
                                                                    </div>
                                                                    <div class="sc_form_item sc_form_item_button sc_form_button label_top">
                                                                        <button>submit</button>
                                                                    </div>
                                                                    <div class="result sc_infobox"></div>
                                                                </form>
                                                            </div>
                                                        </div>
                                                    </div>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                    <div class="column-3_5 sc_column_item">
                                        <div class="sc_section phone_man">
                                            <div class="sc_section_inner">
                                                <div class="sc_section_overlay">
                                                    <div class="sc_section_content">
                                                        <div class="sc_block_2">
                                                            <span class="call_us">Call Us 24/7 Toll Free</span>
                                                        </div>
                                                        <!--<div class="sc_section phone_number">
                                                            <div class="sc_section_inner">
                                                                <div class="sc_section_overlay">
                                                                    <div class="sc_section_content">
                                                                        <span class="red_big_text">1 8OO 8889 999</span>
                                                                    </div>
                                                                </div>
                                                            </div>
                                                        </div>-->
                                                    </div>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </section>
                    </article>
                </div>
            </div><!--
            <div class="sc_gap">
                <div class="shdwt">
                    <div class="sc_content content_wrap" data-animation="animated fadeInUp normal">
                        <div class="columns_wrap sc_columns columns_count_3 three_col">
                            <div class="column-1_3 sc_column_item">
                                <figure class="sc_image sc_image_shape_square"><img src="{% static '372x241.png' %}" alt="" /></figure>
                            </div>
                            <div class="column-1_3 sc_column_item">
                                <div class="sc_section pl1">
                                    <div class="sc_section_inner">
                                        <h3 class="sc_title sc_title_regular">Does Your Security<br/> Partner Understand<br/> Your Business?</h3>
                                        <div class="sc_section sub">
                                            <div class="sc_section_inner">
                                                <span>Your program should be tailored <br/> to your needs.</span>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <div class="column-1_3 sc_column_item">
                                <div class="sc_block_3">
                                    <span class="dark_header">Industries Served</span>
                                </div>
                                <div class="columns_wrap no_margins">
                                    <div class="sc_section list_block column-1_2">
                                        <div class="sc_section_inner">
                                            <a class="accent2" href="#">Petrochemical &amp; Utilities</a> <br/>
                                            <a class="accent2" href="#">Healthcare Facilities</a> <br/>
                                            <a class="accent2" href="#">Colleges &amp; Universities</a> <br/>
                                            <a class="accent2" href="#">Manufacturing &amp; Industrial</a> <br/>
                                            <a class="accent2" href="#">Commercial Real Estate</a> <br/>
                                            <a class="accent2" href="#">Commercial Real Estate</a> <br/>
                                        </div>
                                    </div>
                                    <div class="sc_section list_block column-1_2">
                                        <div class="sc_section_inner">
                                            <a class="accent2" href="#">Petrochemical &amp; Utilities</a> <br/>
                                            <a class="accent2" href="#">Healthcare Facilities</a> <br/>
                                            <a class="accent2" href="#">Colleges &amp; Universities</a> <br/>
                                            <a class="accent2" href="#">Manufacturing &amp; Industrial</a> <br/>
                                            <a class="accent2" href="#">Commercial Real Estate</a> <br/>
                                            <a class="accent2" href="#">Commercial Real Estate</a> <br/>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="sc_gap">
                <div class="sc_section bg_counters" data-animation="animated fadeIn normal">
                    <div class="sc_section_inner">
                        <div class="sc_section_overlay">
                            <div class="sc_section_content">
                                <div class="columns_wrap sc_columns counters">
                                    <div class="column-1_4 sc_column_item">
                                        <h2 class="sc_title sc_title_regular sc_align_center odd">5.000+</h2>
                                        <h3 class="sc_title sc_title_regular sc_align_center even">Professional Employees</h3>
                                    </div>
                                    <div class="column-1_4 sc_column_item">
                                        <h2 class="sc_title sc_title_regular sc_align_center odd">99</h2>
                                        <h3 class="sc_title sc_title_regular sc_align_center even">Modern Technologies</h3>
                                    </div>
                                    <div class="column-1_4 sc_column_item">
                                        <h2 class="sc_title sc_title_regular sc_align_center odd">10+</h2>
                                        <h3 class="sc_title sc_title_regular sc_align_center even">Years of<br/> Experience</h3>
                                    </div>
                                    <div class="column-1_4 sc_column_item">
                                        <h2 class="sc_title sc_title_regular sc_align_center odd">15</h2>
                                        <h3 class="sc_title sc_title_regular sc_align_center even">Offices<br/> Nationwide</h3>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="content_wrap shdw">
                <div class="content">
                    <article class="post_item">
                        <section class="post_content">
                            <div class="sc_content content_wrap" data-animation="animated fadeInUp normal">
                                <div class="columns_wrap sc_columns columns_count_2">
                                    <div class="column-1_2 sc_column_item">
                                        <h4 class="sc_title sc_title_regular sc_align_left">Security Resource Center</h4>
                                        <div class="sc_services_wrap">
                                            <div class="sc_services sc_services_style_services-5 sc_services_type_images alignleft" data-interval="8056">
                                                <div class="sc_services_item">
                                                    <div class="sc_services_item_featured">
                                                        <div class="post_thumb" data-image="images/1250x838.png" data-title="The Making Of Superior Security Officer">
                                                            <a class="hover_icon hover_icon_link" href="single-service.html"><img alt="" src="{% static '390x390.png' %}"></a>
                                                        </div>
                                                    </div>
                                                    <div class="sc_services_item_content">
                                                        <h6 class="sc_services_item_title"><a href="single-service.html">The Making Of Superior Security Officer</a></h6>
                                                        <div class="sc_services_item_description">
                                                            <p>The journey from applicant to a security officer at our company is a meticulous process and one that we take very seriously. Only the best talents are selected and evaluated for their potential.</p>
                                                            <a href="single-service.html" class="sc_services_item_readmore">Read more</a>
                                                        </div>
                                                    </div>
                                                </div>
                                                <div class="sc_services_item">
                                                    <div class="sc_services_item_featured">
                                                        <div class="post_thumb" data-image="images/1250x833.png" data-title="Your Security is Our Commitment">
                                                            <a class="hover_icon hover_icon_link" href="single-service.html"><img alt="" src="{% static '390x390.png' %}"></a>
                                                        </div>
                                                    </div>
                                                    <div class="sc_services_item_content">
                                                        <h6 class="sc_services_item_title"><a href="single-service.html">Your Security is Our Commitment</a></h6>
                                                        <div class="sc_services_item_description">
                                                            <p>Our confidence in our systems and our people is backed by our commitment to service. No other local security company can match our guarantee simply because they cannot do what we do.</p>
                                                            <a href="single-service.html" class="sc_services_item_readmore">Read more</a>
                                                        </div>
                                                    </div>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                    <div class="column-1_2 sc_column_item">
                                        <h4 class="sc_title sc_title_regular sc_align_center sc_custom_block_2">Testimonials</h4>
                                        <div class="sc_testimonials sc_testimonials_style_testimonials-4 sc_slider_swiper swiper-slider-container sc_slider_nopagination sc_slider_nocontrols" data-interval="9208">
                                            <div class="slides swiper-wrapper">
                                                <div class="swiper-slide" data-style="width:100%;">
                                                    <div class="sc_testimonial_item">
                                                        <div class="sc_testimonial_content">
                                                            <p>The company installed and maintains the security system at my home. They are great to work with, if I have any questions or need help, they are very willing to answer and help. They are honest and prompt with their service.</p>
                                                        </div>
                                                        <div class="sc_testimonial_avatar"><img alt="Big testimonials" src="{% static '75x75.png' %}"></div>
                                                        <div class="sc_testimonial_author">
                                                            <span class="sc_testimonial_author_name">Jeff McCallum</span>
                                                            <span class="sc_testimonial_author_position">McCallum Petrochemicals</span>
                                                        </div>
                                                    </div>
                                                </div>
                                            </div>
                                            <div class="sc_slider_controls_wrap">
                                                <a class="sc_slider_prev" href="#"></a>
                                                <a class="sc_slider_next" href="#"></a>
                                            </div>
                                            <div class="sc_slider_pagination_wrap"></div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </section>
                    </article>
                </div>
            </div>
        </div>-->
        <footer class="footer_wrap widget_area scheme_original">
            <div class="footer_wrap_inner widget_area_inner">
                <div class="content_wrap">
                    <div class="columns_wrap">
                        <aside class="column-1_2 widget widget_socials">
                            <div class="widget_inner">
                                <div class="logo">
                                    <a href="index.html"><img src="{% static 'logo1.png' %}" class="logo_main" alt="">
                                        <div class="logo_text">ProGuards</div>
                                        <br>
                                        <div class="logo_slogan">safety above all</div>
                                    </a>
                                </div>
                                <div class="logo_descr">
                                    <span class="lh_1">
                                        <span class="titl">Personal Security</span>ProGuards Security Services
                                        <br/> 8531 S. Central Ave
                                        <br/> Los Angeles, CA. 90000
                                        <br/> Ph: (123) 123-1234 Fax: (123) 123-1234
                                        <br/>
                                        <br/> Email: <a href="#" class="accent2">info@ancorathemes.com</a>
                                    </span>
                                    <span class="lh_1">
                                        <span class="titl">Secure My Organization</span>ProGuards Security Services
                                        <br/> 8531 S. Central Ave
                                        <br/> Los Angeles, CA. 90000
                                        <br/> Ph: (123) 123-1234 Fax: (123) 123-1234
                                        <br/>
                                        <br/> Email: <a href="#" class="accent2">info@ancorathemes.com</a>
                                    </span>
                                </div>
                            </div>
                        </aside>
                        <aside class="column-1_2 widget widget_text">
                            <div class="textwidget">
                                <span class="lh_2 ic_list">
                                <a href="#">Temporary Security</a><br>
                                <a href="#">Private Security</a><br>
                                <a href="#">Ambassador Program</a><br>
                                <a href="#">Integrated Security Solutions</a><br>
                                <a href="#">National Accounts</a><br>
                                <a href="#">The Experience</a><br>
                                <a href="#">About Us</a>
                                </span>
                            </div>
                        </aside>
                    </div>
                </div>
            </div>
        </footer>
        <div class="copyright_wrap copyright_style_menu scheme_original">
            <div class="copyright_wrap_inner">
                <div class="content_wrap">
                    <ul class="menu_footer_nav">
                        <li class="menu-item"><a href="index.html">Home</a></li>
                        <li class="menu-item"><a href="pages.html">Pages</a></li>
                        <li class="menu-item"><a href="services.html">Services</a></li>
                        <li class="menu-item"><a href="blog.html">Blog</a></li>
                        <li class="menu-item"><a href="gallery.html">Gallery</a></li>
                        <li class="menu-item"><a href="contacts.html">Contacts</a></li>
                    </ul>
                    <div class="copyright_text">
                        <a href='#'>Ancora</a> &copy; 2015 All Rights Reserved <span><a href='#' class='tou'>Terms of Use</a> and <a href='#' class='pp'>Privacy Policy</a></span>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
<a href="#" class="scroll_to_top icon-up" title="Scroll to top"></a>

<script type='text/javascript' src="{% static 'js/vendor/jquery/jquery.min.js' %}"></script>
<script type='text/javascript' src="{% static 'js/vendor/jquery/jquery-migrate.min.js' %}"></script>
<script type='text/javascript' src="{% static 'js/vendor/revslider/jquery.themepunch.tools.min.js' %}"></script>
<script type='text/javascript' src="{% static 'js/vendor/revslider/jquery.themepunch.revolution.min.js' %}"></script>
<script type="text/javascript" src="{% static 'js/vendor/revslider/revolution.extension.video.min.js' %}"></script>
<script type="text/javascript" src="{% static 'js/vendor/revslider/revolution.extension.slideanims.min.js'%}"></script>
<script type="text/javascript" src="{% static 'js/vendor/revslider/revolution.extension.layeranimation.min.js' %}"></script>
<script type="text/javascript" src="{% static 'js/vendor/revslider/revolution.extension.navigation.min.js' %}"></script>
<script type='text/javascript' src="{% static 'js/vendor/modernizr.min.js' %}"></script>
<script type='text/javascript' src="{% static 'js/custom/custom.js' %}"></script>
<script type='text/javascript' src="{% static 'js/vendor/superfish.min.js' %}"></script>
<script type='text/javascript' src="{% static 'js/vendor/slidemenu.min.js' %}"></script>
<script type='text/javascript' src="{% static 'js/custom/_utils.js' %}"></script>
<script type='text/javascript' src="{% static 'js/custom/_init.js' %}"></script>
<script type='text/javascript' src="{% static 'js/custom/shortcodes.js' %}"></script>
<script type='text/javascript' src="{% static 'js/vendor/swiper/swiper.min.js' %}"></script>
</body>

</html>